[submodule "submodules/memos"]
	path = submodules/memos
	url = https://github.com/usememos/memos.git
[submodule "submodules/googlekeepclone"]
	path = submodules/googlekeepclone
	url = https://github.com/anselm94/googlekeepclone.git
[submodule "submodules/tiptap"]
	path = submodules/tiptap
	url = https://github.com/ueberdosis/tiptap.git
[submodule "app/submodules/svelte-realworld"]
	path = app/submodules/svelte-realworld
	url = https://github.com/sveltejs/realworld.git
[submodule "app/submodules/misskey"]
	path = app/submodules/misskey
	url = https://github.com/misskey-dev/misskey.git
[submodule "submodules/bluesky-social-app"]
	path = submodules/bluesky-social-app
	url = https://github.com/bluesky-social/social-app.git
[submodule "submodules/launcher3"]
	path = submodules/launcher3
	url = https://android.googlesource.com/platform/packages/apps/Launcher3
